<!-- style="color:rgb(143, 177, 3)" -->
{% extends "Next.html" %}
{% block title %}
  Dashboard
{% endblock title %}
{% block body %}
<h2 style="text-align: center;margin-top:20px;">GreenGrocers Store Dashboard</h2>
<div class="container">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        
       <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.bigbasket.com/media/uploads/p/xxl/40074078_6-cadbury-dairy-milk-imported.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Dairy Milk</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/addsales"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.bigbasket.com/media/uploads/p/l/270026_3-parle-candy-melody-chocolaty.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Melody</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/addsales"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.bigbasket.com/media/uploads/p/xxl/100022654_7-lays-potato-chips-joyful-magic-masala.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lays</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/addsales"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"  src="https://www.bigbasket.com/media/uploads/p/l/263921_24-colgate-strong-teeth-anticavity-toothpaste-with-amino-shakti-formula-provides-fresher-breath.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Colgate Toothpaste</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/addsales"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.bigbasket.com/media/uploads/p/xl/40081603_5-tata-salt-salt-iodized.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Tata Salt</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/addsales"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.bigbasket.com/media/uploads/p/l/40026515_3-harvest-gold-bread-white.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Harvest Bread</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/addsales"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
</div>
{% endblock body %}